<div class="container">

            <div class='jumbotron'>
                <h1 class="text-center">Alurapic</h1>
            </div>
            <p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a href="/fotos/new" class="btn btn-primary" type="button">
                                    Nova foto
                                </a>
                            </span>
                            <input class="form-control" placeholder="Filtrar pelo fotos pelo titulo" ng-model="filtro" ng-model-options="{ debounce : 500 }">
                        </div> <!--Fim do input-group-->
                    </form>
                    
                </div><!--Fim do col-md-12-->
                
            </div><!--Fim do row-->
            <br>
            <div>
                <meu-painel class='col-md-2 painel-animado' titulo='{{foto.titulo}}' ng-repeat="foto in fotos | filter : filtro">
                    <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
                    <a class="btn btn-primary btn-block" href="/fotos/edit/{{foto._id}}">Editar</a>
                    <button class="btn btn-danger btn-block" ng-click='remover(foto)'>Remover</button>                  
                </meu-painel>       
            </div>
</div> <!-- fim container -->        